
@import 'knacss/knacss';

body {
	background-color: black;
}

.framing-effect {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
	background-color: #111;
  color: #fff;
}

.primary-nav {
  display: flex;
  position: absolute;
  right: 0;
	list-style-type: none;
}

.primary-nav__link {
	display: block;
	margin: 5px 10px;
}

.site-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.app {
  width: 290px;
}

.app--title {
  // I think it's good practice for SEO not sure tho.
  display: none;
}

.app--logo {
  min-width: 250px;
}

.app--short-description {
  font-size: 1.2em;
}

.more-info {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.more-info__item {
  font-size: 1em;
}

.more-info__item > p {
  margin: 0;
}

@import 'responsive';
